<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="base.css">
<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
	.build_info {
		font-size: 0.8em;
		color: #999;
		margin-top: 1em;
		text-align: end;
	}
</style>
<body class="markdown-body">
	<a href="repository.chori.zip">repository.chori.zip</a>
	<div class="build_info">Last update: {{now}}</div>
	{{readme|safe}}
</body>